extends layout 
 
block content 
  h1= title 
 
  form(id='NespressoForm', action="/resource/nespresso", method="POST") 
    div.form-group 
        label.costumeAttr(for='nespresso_type ') Nespresso type 
        input#costume_type(type='text', name='nespresso_type ') 
    div.form-group 
        label.costumeAttr(for='country') Nespresso country
        input#size(type='text', name='country') 
    div.form-group 
        label.costumeAttr(for='price') Nespresso price
        input#cost(type='number', name='price') 
    input(type="submit") 
 
  script. 
    document.forms['NespressoForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target))
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 